.header {
  padding: 0 0 41px;
  margin: 45px auto 0 auto;
  max-width: 880px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

.header::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #545454;
  opacity: 0.7;
}


@media screen and (max-width: 934px){
  .header{
    margin-top: 28px;
    margin-right: 0;
    margin-left: 0;
    padding-right: 27px;
    padding-bottom: 32px;
    padding-left: 27px;
  }
}
